<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.dango.day2ejcolores" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Act_Login"
            android:label="@string/title_activity_act__login" >
        </activity>
        <activity
            android:name=".Calculator"
            android:label="@string/title_activity_calculator" >
        </activity>
        <activity
            android:name=".AsyncTest"
            android:label="@string/title_activity_async_test" >
        </activity>
        <activity
            android:name=".Act_Register"
            android:label="@string/title_activity_act__register" >
        </activity>
        <activity
            android:name=".Sact_Checknest"
            android:label="@string/title_activity_sact__checknest" >
        </activity>
        <activity
            android:name=".MusicPlayer"
            android:label="@string/title_activity_music_player" >
        </activity>
        <activity
            android:name=".Act_GPS"
            android:label="@string/title_activity_act__gps" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="03b38c1df7ccef9433d53da2f768f1bed8c583e0" />

        <activity
            android:name=".Act_Memory"
            android:label="@string/title_activity_act__memory" >
        </activity>
    </application>

</manifest>
